{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'myportfolio/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'myportfolio/css/styles.css' %}">
    <title>{% block title %}
            Mine
        {% endblock %}</title>
</head>
  
<body>
    <nav class="nav">
        <div class="nav-container container">
            <a class="navbar-brand" href="#">Sam-Néri Bélizaire</a>
            <ul class="navbar-nav">
                <li><a href="#"><img src="{% static 'myportfolio/images/github.png' %}" width="30" alt="My image"></a></li>
                <li><a href="#"><img src="{% static 'myportfolio/images/linkedin.png' %}" width="30" alt="My image"></a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <footer class="foot">
        <div class="foot-container container">
            <p>(819)329-9857</p>
            <p>samneribelizaire@icloud.com</p>
            <p>Gatineau, QC, CA</p>
        </div>
    </footer>
</body>

<script src="{% static 'myportfolio/js/app.js' %}"></script>
</html>